cache:
  key: "$CI_COMMIT_REF_NAME/$CI_PIPELINE_ID"
  untracked: true
before_script:
    - cd ./src
after_script:
    - cd ./src
stages:
  - compile
  - cross-compile
  - unit-test
  - code-coverage
  - lint
compile:
  stage: compile
  script:
    - make lib-host-gcov
    - make host-gcov
cross-compile:
    stage: cross-compile
    script:
    - make lib-target
    - make target
unit-test:
    stage: unit-test
    script:
    - make test
    - make test-run
    - make test-clean
    #todo: ./ into api en de rest
code-coverage:
    stage: code-coverage
    script:
    - make test-run
    - bash  ./scripts/codecoverage.sh
    #- ./API/CommunicationServer/communication-host.out;./BusinessLayer/bl-host.out
    #- q
    #- gcovr -r .
lint:
  stage: lint
  script:
    - cd scripts/
    - bash lint.sh
