before_script:
    - cd ./src
after_script:
    - cd ./src
    - make clean
stages:
  - lint
  - compile
  - cross-compile
  - unit-test
  - code-coverage
lint:
  stage: lint
  script:
    -  echo student | sudo -S -u student  ./scripts/lint.sh
compile:
  stage: compile
  script:
    - make lib-host
    - make host
cross-compile:
    stage: cross-compile
    script:
    - make lib-target
    - make target
unit-test:
    stage: unit-test
    script:
    - make test
    - ./BusinessLayer/Tests/bl-RunTests.out
    #todo: ./ into api en de rest
code-coverage:
    stage: code-coverage
    script:
    -  echo student | sudo -S ./scripts/codecoverage.sh
    #- make lib-host
    #- make host
    #- ./API/CommunicationServer/communication-host.out;./BusinessLayer/bl-host.out
    #- q
    #- gcovr -r .
after_script:
  #  - make clean