before_script:
    - cd ./src
stages:
  - compile
  - cross-compile
compile:
  stage: compile
  script:
    - make lib-host
    - make host
cross-compile:
    stage: cross-compile
    script:
    - make lib-target
    - make target
after_script:
  #  - make clean