stages:
  - build
  - cross-build
  - valgrind
build:
  stage: build
  script:
    - cd ./src
    - make# host
cross-build:
    stage: cross-build
    script:
        - cd ./src/API/
        - make# target
valgrind:
    stage: valgrind
    script:
        - cd ./src/API
        - valgrind communication-host.out
after_script:
  #- make clean