cache:
    key: "$CI_COMMIT_REF_NAME/$CI_PIPELINE_ID"
    untracked: true
before_script:
    - cd ./src
after_script:
    - cd ./src
stages:
    - compile
    - cross-compile
    - unit-test
    - code-coverage
    - lint
compile:
    stage: compile
    script:
        - make lib-host-gcov
        - make host-gcov
    artifacts:
        paths:
            - "src/*/obj-*/*.o"
            - "src/*/*/obj-*/*.o"
            - "src/*/*.gcno"
            - "src/*/*/*.gcno"
            - "src/lib/*.a"
cross-compile:
    stage: cross-compile
    script:
        - make lib-target
        - make target
unit-test:
    stage: unit-test
    dependencies:
        - compile
    script:
        - make test
        - make test-run
    artifacts:
        paths:
            - "src/*/obj-*/*.o"
            - "src/*/*/obj-*/*.o"
            - "src/*/*.gcda"
            - "src/*/*/*.gcda"
code-coverage:
    stage: code-coverage
    dependencies:
        - compile
        - unit-test
    script:
        - make test-run
        - bash  ./scripts/codecoverage.sh
lint:
    stage: lint
    script:
        - cd scripts/
        - bash lint.sh
