before_script:
    - cd ./src
after_script:
    - cd ./src
    - make clean
stages:
  - compile
  - cross-compile
  - unit-test
compile:
  stage: compile
  script:
    - make lib-host
    - make host
cross-compile:
    stage: cross-compile
    script:
    - make lib-target
    - make target
unit-test:
    stage: unit-test
    - make test
    #- ./BusinessLayer/Tests/RunTests.out
    #todo: ./ into api en de rest
after_script:
  #  - make clean